<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h3>Menu items with matches:</h3>
<ol>
  
    <li ng-repeat="item in narrow.found">
    {{ item.name }}
    <button ng-click="narrow.onRemove({index: $index});">Don't want this one!</button>
  </li>
  
  
</ol>

<h3>the end</h3>
<!--
<div class="error" ng-if="list.cookiesInList()">WARNING! WARNING! COOKIES DETECTED!</div>
--!>
