<!doctype html>
<html lang="en">
    <head>
        <title>Narrow Down Your Menu Choice</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/m3s.js" type="text/javascript"></script>
        <link href="styles/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body ng-app="NarrowItDownApp">
        <div class="container" ng-controller='NarrowItDownController as ndc'>
            <div class="row">
                <div class="col-12">
                    <h1>Narrow Down Your Chinese Menu Choice</h1>
                </div>
                <div class="col-12 ">  
                    <div class="form-group my-0">
                        <input type="text" placeholder="search" class="form-control" ng-model='ndc.searchItem'>
                    </div>
                    <div class="form-group narrow-button">
                        <button class="btn btn-primary" ng-click="ndc.getItems(ndc.searchItem)">Narrow It Down For Me!</button>
                    </div>
                </div>


                <div ng-repeat="item in ndc.found" class='row w-100'>
                    <div >
                        {{$index + 1}}. {{ item.name}}

                        <button
                            class="btn btn-sm btn-info"
                            ng-click="ndc.removeItem({index: $index});"
                            >
                            Don't want this one!
                        </button>
                    </div>
                </div>

                <!-- found-items should be implemented as a component --> 
                <found-items
                    items="ndc.found"
                    remove-item="ndc.removeItem(index)"
                    ></found-items>
                <div class="loader" ng-show="ndc.showLoader"></div>
                <div ng-if="ndc.showAlert" class="alert alert-info" role="alert">
                    Nothing found!
                </div>
            </div>
        </div>
    </body>
</html>
